.container{
    border:3px solid black;
    border-radius:10px;
    background-image: linear-gradient(to right top, #d64729, #e37310, #e59d00, #ddc700, #c9f03a);
}
.search{
    background-color:blue;
    border: 5px solid black;
    margin:5px auto;
    width: 70%;
    text-align:center;
    color:white;
   }
.img-responsive{
    height:80%;
    width: 50%;
}
.img-container{
    display: flex;
    height:80%;
    width: 100%;
}
.events{
    padding:5px ;
    margin:10px;
    border:3px solid rgb(0, 0, 0);
    border-radius:5px;
}
@media (max-width:250px) {
    .img-container{
        display: flex;
        flex-direction: column;
    }
}